### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
number_players=len(purchase_data["SN"].unique())
pd.DataFrame([{"Total number of players":number_players}])

   Total number of players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
number_uniq_items=len(purchase_data["Item ID"].unique())
avg_price=purchase_data["Price"].mean()
number_purchases=len(purchase_data["Purchase ID"])
total_revenue=purchase_data["Price"].sum()
summary_df=pd.DataFrame([{"Number of unique items":number_uniq_items,
                       "Average purchase price":avg_price,
                       "Total number of purchases":number_purchases,
                        "Total revenue":total_revenue}])
summary_df=summary_df[["Number of unique items","Average purchase price","Total number of purchases","Total revenue"]]
summary_df["Average purchase price"]=summary_df["Average purchase price"].map("{:.2f}".format)
summary_df["Total revenue"]=summary_df["Total revenue"].map("{:.2f}".format)
summary_df

,Number of unique items,Average purchase price,Total number of purchases,Total revenue
0,183,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [40]:
gender_purchase_data=purchase_data.groupby(["Gender"])
gender_uniq_data=gender_purchase_data["SN"].unique()

# Number of unique players by gender
num_female_uniq=len(gender_uniq_data["Female"])
num_male_uniq=len(gender_uniq_data["Male"])
num_other_uniq=len(gender_uniq_data["Other / Non-Disclosed"])

# Percentage of unique players by gender
perc_male=round((num_male_uniq/number_players)*100)
perc_female=round((num_female_uniq/number_players)*100)
perc_other=round((num_other_uniq/number_players)*100)

gender_demog_summary_df=pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Total count":[num_male_uniq,
                                  num_female_uniq,num_other_uniq],"Percentage of players":[perc_male,
                                  perc_female,perc_other]})
gender_demog_summary_df=gender_demog_summary_df.set_index("Gender")
gender_demog_summary_df["Percentage of players"]=gender_demog_summary_df["Percentage of players"].map("{:}%".format)
gender_demog_summary_df

                       Total count Percentage of players
Gender
Male                           484                   84%
Female                          81                   14%
Other / Non-Disclosed           11                    2%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# Total purchase value by gender
purch_value_gender=gender_purchase_data["Price"].sum()
purch_value_male=round(purch_value_gender["Male"],2)
purch_value_female=round(purch_value_gender["Female"],2)
purch_value_other=round(purch_value_gender["Other / Non-Disclosed"],2)

# Purchase count by gender
purch_count_gender=gender_purchase_data["Purchase ID"].count()
purch_count_male=round(purch_count_gender["Male"],2)
purch_count_female=round(purch_count_gender["Female"],2)
purch_count_other=round(purch_count_gender["Other / Non-Disclosed"],2)

# Average purchase price by gender
purch_avg_price=gender_purchase_data["Price"].mean()
purch_avg_male=round(purch_avg_price["Male"],2)
purch_avg_female=round(purch_avg_price["Female"],2)
purch_avg_other=round(purch_avg_price["Other / Non-Disclosed"],2)

# Average purchase total per person by gender
avg_purch_person=purchase_data.groupby(["Gender","SN"])
avg_purch_person_sum=avg_purch_person["Price"].sum()
avg_total_male=round(avg_purch_person_sum["Male"].mean(),2)
avg_total_female=round(avg_purch_person_sum["Female"].mean(),2)
avg_total_other=round(avg_purch_person_sum["Other / Non-Disclosed"].mean(),2)

# Summary dataframe
gender_summary_df=pd.DataFrame({"Purchase count": [purch_count_male, purch_count_female, purch_count_other],
                                "Average purchase price":[purch_avg_male, purch_avg_female, purch_avg_other],
                                "Total purchase value": [purch_value_male, purch_value_female, purch_value_other],
                                "Avg total purchases per person":[avg_total_male, avg_total_female, avg_total_other],
                                "Gender":["male", "female","other"]})
gender_summary_df=gender_summary_df.set_index("Gender")
gender_summary_df["Average purchase price"]=gender_summary_df["Average purchase price"].map("${:.2f}".format)
gender_summary_df["Total purchase value"]=gender_summary_df["Total purchase value"].map("${:.2f}".format)
gender_summary_df["Avg total purchases per person"]=gender_summary_df["Avg total purchases per person"].map("${:.2f}".format)
gender_summary_df

,Purchase count,Average purchase price,Total purchase value,Avg total purchases per person
Gender,,,,
male,652,$3.02,$1967.64,$4.07
female,113,$3.20,$361.94,$4.47
other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [42]:
# Create bins and labels
bins=[0,9,14,19,24,29,34,39,100]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-40",">40"]

# Categorize players, add column to df and remove duplicates
age_purch_data=pd.cut(purchase_data["Age"],bins,labels=group_names)
purchase_data["Age bins"]=age_purch_data
purchase_data_clean=purchase_data.drop_duplicates(["SN"])

# Total count of players by age
age_counts_df=pd.DataFrame(purchase_data_clean["Age bins"].value_counts())
age_counts_df=age_counts_df.reindex(["<10","10-14","15-19","20-24","25-29","30-34","35-40",">40"])
age_counts_df=age_counts_df.rename(columns={"Age bins":"Total count"})

# Percentage of players by age
age_counts_df["Percentage of players"]=round(age_counts_df["Total count"]*100/number_players,2)
age_counts_df["Percentage of players"]=age_counts_df["Percentage of players"].map("{:}%".format)
age_counts_df

       Total count Percentage of players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-40           31                 5.38%
>40             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
# Group data by age
purchase_data_age_group=purchase_data.groupby(["Age bins"])

# Purchase count by age
purch_count_age2=purchase_data_age_group["SN"].count()

# Average purchase price by age
avg_purch_price_age=round(purchase_data_age_group["Price"].mean(),2)

# Total purchase value by age
total_purch_age=purchase_data_age_group["Price"].sum()
total_purch_age=total_purch_age.rename("Price2")

# Average purchase total per person by age
purchase_data_age_group=purchase_data.groupby(["Age bins","SN"])
avg_purch_person_age_sum=purchase_data_age_group["Price"].sum()
avg_total_010=round(avg_purch_person_age_sum["<10"].mean(),2)
avg_total_1014=round(avg_purch_person_age_sum["10-14"].mean(),2)
avg_total_1519=round(avg_purch_person_age_sum["15-19"].mean(),2)
avg_total_2024=round(avg_purch_person_age_sum["20-24"].mean(),2)
avg_total_2529=round(avg_purch_person_age_sum["25-29"].mean(),2)
avg_total_3034=round(avg_purch_person_age_sum["30-34"].mean(),2)
avg_total_3540=round(avg_purch_person_age_sum["35-40"].mean(),2)
avg_total_40=round(avg_purch_person_age_sum[">40"].mean(),2)
avg_total_age=pd.Series([avg_total_010,avg_total_1014,avg_total_1519,avg_total_2024,avg_total_2529,avg_total_3034,
                        avg_total_3540,avg_total_40], index=["<10","10-14","15-19","20-24","25-29","30-34","35-40",">40"])

# Summary dataframe
age_summary_df=pd.concat([purch_count_age2,avg_purch_price_age,total_purch_age,avg_total_age],axis=1)
age_summary_df=age_summary_df.rename(columns={"SN":"Purchase count","Price":"Average purchase price",
                                        "Price2":"Total purchase value",0:"Avg total purchase per person"})
del age_summary_df.index.name
age_summary_df["Average purchase price"]=age_summary_df["Average purchase price"].map("${:.2f}".format)
age_summary_df["Total purchase value"]=age_summary_df["Total purchase value"].map("${:.2f}".format)
age_summary_df["Avg total purchase per person"]=age_summary_df["Avg total purchase per person"].map("${:.2f}".format)

age_summary_df

,Purchase count,Average purchase price,Total purchase value,Avg total purchase per person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-40,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
# Identify the top 5 spenders by total purchase value
purch_per_person=purchase_data.groupby(["SN"])
purch_value= purch_per_person.sum()
purch_value=purch_value.sort_values("Price",ascending=False)
top_5_sp=purch_value.head()

# Top 5 spenders SNs
top_5_names=list(top_5_sp.index)

# Purchase Count
top_5_purch_count=purch_per_person.count()
first_count=top_5_purch_count.loc[top_5_names[0],"Purchase ID"]
second_count=top_5_purch_count.loc[top_5_names[1],"Purchase ID"]
third_count=top_5_purch_count.loc[top_5_names[2],"Purchase ID"]
fourth_count=top_5_purch_count.loc[top_5_names[3],"Purchase ID"]
fifth_count=top_5_purch_count.loc[top_5_names[4],"Purchase ID"]


# Average Purchase Price
avg_purch_price=purch_per_person.mean()
first_avg=round(avg_purch_price.loc[top_5_names[0],"Price"],2)
second_avg=round(avg_purch_price.loc[top_5_names[1],"Price"],2)
third_avg=round(avg_purch_price.loc[top_5_names[2],"Price"],2)
fourth_avg=round(avg_purch_price.loc[top_5_names[3],"Price"],2)
fifth_avg=round(avg_purch_price.loc[top_5_names[4],"Price"],2)

# Total Purchase Value
total_value_top_5=list(round(top_5_sp["Price"],2))

# Summary df
top5_summary_df=pd.DataFrame({"SN":top_5_names,"Purchase count":[first_count,second_count,third_count,fourth_count,fifth_count],
                          "Average purchase price":[first_avg,second_avg,third_avg,fourth_avg,fifth_avg],
                          "Total purchase value":total_value_top_5})
top5_summary_df=top5_summary_df.set_index("SN")
top5_summary_df["Average purchase price"]=top5_summary_df["Average purchase price"].map("${:.2f}".format)
top5_summary_df["Total purchase value"]=top5_summary_df["Total purchase value"].map("${:.2f}".format)
top5_summary_df

             Purchase count Average purchase price Total purchase value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items


* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
# Retrieve columns
items_df=purchase_data[["Item ID","Item Name","Price"]]

# Group by Item ID and name
items_group=items_df.groupby(["Item ID","Item Name"])

# Purchase count
items_count=items_group["Item Name"].count()

# Item price
items_price=items_group["Price"].first()

# Total purchase value
items_total_value=items_group["Price"].sum()
items_total_value=items_total_value.rename("Total purchase value")

items_summary_df=pd.concat([items_count,items_price,items_total_value],axis=1)
items_summary_df=items_summary_df.rename(columns={"Item Name":"Purchase count","Price":"Item price"})
items_summary_df=items_summary_df.sort_values("Purchase count",ascending=False)
items_summary_df["Item price"]=items_summary_df["Item price"].map("${:.2f}".format)
items_summary_df["Total purchase value"]=items_summary_df["Total purchase value"].map("${:.2f}".format)

items_summary_df.head()

,,Purchase count,Item price,Total purchase value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [37]:
most_prof_df=items_summary_df.sort_values("Total purchase value", ascending=False)
most_prof_df.head()

,,Purchase count,Item price,Total purchase value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48