### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
number_players=len(purchase_data["SN"].unique())
pd.DataFrame([{"Total number of players":number_players}])

   Total number of players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
number_uniq_items=len(purchase_data["Item ID"].unique())
avg_price=purchase_data["Price"].mean()
number_purchases=len(purchase_data["Purchase ID"])
total_revenue=purchase_data["Price"].sum()
summary_df=pd.DataFrame([{"Number of unique items":number_uniq_items,
                       "Average purchase price":avg_price,
                       "Total number of purchases":number_purchases,
                        "Total revenue":total_revenue}])
summary_df=summary_df[["Number of unique items","Average purchase price","Total number of purchases","Total revenue"]]
summary_df["Average purchase price"]=summary_df["Average purchase price"].map("${:.2f}".format)
summary_df["Total revenue"]=summary_df["Total revenue"].map("${:.2f}".format)
summary_df

,Number of unique items,Average purchase price,Total number of purchases,Total revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
gender_purchase_data=purchase_data.groupby(["Gender"])
gender_uniq_data=gender_purchase_data["SN"].unique()

# Number of unique players by gender
num_female_uniq=len(gender_uniq_data["Female"])
num_male_uniq=len(gender_uniq_data["Male"])
num_other_uniq=len(gender_uniq_data["Other / Non-Disclosed"])

# Percentage of unique players by gender
perc_male=round((num_male_uniq/number_players)*100,2)
perc_female=round((num_female_uniq/number_players)*100,2)
perc_other=round((num_other_uniq/number_players)*100,2)

summary_gender_demo=pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Total count":[num_male_uniq,
                                  num_female_uniq,num_other_uniq],"Percentage of players":[perc_male,
                                  perc_female,perc_other]})
summary_gender_demo=summary_gender_demo.set_index("Gender")
summary_gender_demo

                       Total count  Percentage of players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Total purchase value by gender
purch_value_gender=gender_purchase_data["Price"].sum()
purch_value_male=round(purch_value_gender["Male"],2)
purch_value_female=round(purch_value_gender["Female"],2)
purch_value_other=round(purch_value_gender["Other / Non-Disclosed"],2)

In [18]:
# Purchase count by gender
purch_count_gender=gender_purchase_data["Purchase ID"].count()
purch_count_male=round(purch_count_gender["Male"],2)
purch_count_female=round(purch_count_gender["Female"],2)
purch_count_other=round(purch_count_gender["Other / Non-Disclosed"],2)

In [19]:
# Average purchase price by gender
purch_avg_price=gender_purchase_data["Price"].mean()
purch_avg_male=round(purch_avg_price["Male"],2)
purch_avg_female=round(purch_avg_price["Female"],2)
purch_avg_other=round(purch_avg_price["Other / Non-Disclosed"],2)

In [20]:
# Average purchase total per person by gender
avg_purch_person=purchase_data.groupby(["Gender","SN"])
avg_purch_person_sum=avg_purch_person["Price"].sum()
avg_total_male=round(avg_purch_person_sum["Male"].mean(),2)
avg_total_female=round(avg_purch_person_sum["Female"].mean(),2)
avg_total_other=round(avg_purch_person_sum["Other / Non-Disclosed"].mean(),2)

In [24]:
# Summary dataframe
gender_summary_df=pd.DataFrame({"Purchase count": [purch_count_male, purch_count_female, purch_count_other],
                                "Average purchase price":[purch_avg_male, purch_avg_female, purch_avg_other],
                                "Total purchase value": [purch_value_male, purch_value_female, purch_value_other],
                                "Avg total purchases per person":[avg_total_male, avg_total_female, avg_total_other],
                                "Gender":["male", "female","other"]})
gender_summary_df=gender_summary_df.set_index("Gender")
gender_summary_df["Average purchase price"]=gender_summary_df["Average purchase price"].map("${:.2f}".format)
gender_summary_df["Total purchase value"]=gender_summary_df["Total purchase value"].map("${:.2f}".format)
gender_summary_df["Avg total purchases per person"]=gender_summary_df["Avg total purchases per person"].map("${:.2f}".format)
gender_summary_df

,Purchase count,Average purchase price,Total purchase value,Avg total purchases per person
Gender,,,,
male,652,$3.02,$1967.64,$4.07
female,113,$3.20,$361.94,$4.47
other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
# Create bins and labels
bins=[0,9,14,19,24,29,34,39,100]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-40",">40"]

# Categorize players, add column to df and remove duplicates
age_purch_data=pd.cut(purchase_data["Age"],bins,labels=group_names)
purchase_data["Age bins"]=age_purch_data
purchase_data_clean=purchase_data.drop_duplicates(["SN"])

# Total count of players by age
age_counts=pd.DataFrame(purchase_data_clean["Age bins"].value_counts())
age_counts=age_counts.reindex(["<10","10-14","15-19","20-24","25-29","30-34","35-40",">40"])
age_counts=age_counts.rename(columns={"Age bins":"Total count"})

# Percentage of players by age
age_counts["Percentage of players"]=round(age_counts["Total count"]*100/number_players,2)
age_counts

       Total count  Percentage of players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-40           31                   5.38
>40             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_data_age_group=purchase_data.groupby(["Age bins"])
purch_count_age2=purchase_data_age_group["SN"].count()

avg_purch_price_age=round(purchase_data_age_group["Price"].mean(),2)

total_purch_age=purchase_data_age_group["Price"].sum()
total_purch_age=total_purch_age.rename("Price2")

#avg purch tot per person
purchase_data_age_group=purchase_data.groupby(["Age bins","SN"])
avg_purch_person_age_sum=purchase_data_age_group["Price"].sum()
avg_total_010=round(avg_purch_person_age_sum["<10"].mean(),2)
avg_total_1014=round(avg_purch_person_age_sum["10-14"].mean(),2)
avg_total_1519=round(avg_purch_person_age_sum["15-19"].mean(),2)
avg_total_2024=round(avg_purch_person_age_sum["20-24"].mean(),2)
avg_total_2529=round(avg_purch_person_age_sum["25-29"].mean(),2)
avg_total_3034=round(avg_purch_person_age_sum["30-34"].mean(),2)
avg_total_3540=round(avg_purch_person_age_sum["35-40"].mean(),2)
avg_total_40=round(avg_purch_person_age_sum[">40"].mean(),2)
avg_total_age=pd.Series([avg_total_010,avg_total_1014,avg_total_1519,avg_total_2024,avg_total_2529,avg_total_3034,
                        avg_total_3540,avg_total_40], index=["<10","10-14","15-19","20-24","25-29","30-34","35-40",">40"])

summary_age=pd.concat([purch_count_age2,avg_purch_price_age,total_purch_age,avg_total_age],axis=1)
summary_age=summary_age.rename(columns={"SN":"Purchase count","Price":"Average purchase price",
                                        "Price2":"Total purchase value",0:"Avg total purchase per person"})
del summary_age.index.name
summary_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#dentify the the top 5 spenders in the game by total purchase value, then list (in a table):
purch_per_person=purchase_data.groupby(["SN"])
purch_value= purch_per_person.sum()
purch_value=purch_value.sort_values("Price",ascending=False)
top_5_sp=purch_value.head()

#SN
top_5_names=list(top_5_sp.index)

#Purchase Count
top_5_purch_count=purch_per_person.count()
first_count=top_5_purch_count.loc[top_5_names[0],"Purchase ID"]
second_count=top_5_purch_count.loc[top_5_names[1],"Purchase ID"]
third_count=top_5_purch_count.loc[top_5_names[2],"Purchase ID"]
fourth_count=top_5_purch_count.loc[top_5_names[3],"Purchase ID"]
fifth_count=top_5_purch_count.loc[top_5_names[4],"Purchase ID"]


#Average Purchase Price
avg_purch_price=purch_per_person.mean()
first_avg=round(avg_purch_price.loc[top_5_names[0],"Price"],2)
second_avg=round(avg_purch_price.loc[top_5_names[1],"Price"],2)
third_avg=round(avg_purch_price.loc[top_5_names[2],"Price"],2)
fourth_avg=round(avg_purch_price.loc[top_5_names[3],"Price"],2)
fifth_avg=round(avg_purch_price.loc[top_5_names[4],"Price"],2)

#Total Purchase Value
total_value_top_5=list(round(top_5_sp["Price"],2))

top_5_sp_df=pd.DataFrame({"SN":top_5_names,"Purchase count":[first_count,second_count,third_count,fourth_count,fifth_count],
                          "Average purchase price":[first_avg,second_avg,third_avg,fourth_avg,fifth_avg],
                          "Total purchase value":total_value_top_5})
top_5_sp_df=top_5_sp_df.set_index("SN")
top_5_sp_df

## Most Popular Items


* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
items_df=purchase_data[["Item ID","Item Name","Price"]]
items_df.head

items_group=items_df.groupby(["Item ID","Item Name"])
items_count=items_group["Item Name"].count()

items_price=items_group["Price"].first()
items_price

items_total_value=items_group["Price"].sum()
items_total_value=items_total_value.rename("Total purchase value")

summary_items=pd.concat([items_count,items_price,items_total_value],axis=1)
summary_items=summary_items.rename(columns={"Item Name":"Purchase count","Price":"Item price"})
summary_items=summary_items.sort_values("Purchase count",ascending=False)
summary_items.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
most_prof=summary_items.sort_values("Total purchase value", ascending=False)
most_prof.head()